.an_dien_thongtin{
  display: none;
}

.hien_dien_thongtin{
  display: block;
}

.nen_an_dien_thongtin{
  background-color: yellow;
  opacity: 0.5;
  height: 100%;
  z-index: 100000000000;
  position: fixed;
  margin-top: -106px;
}

#thongtin_cus_commnet{
  z-index: 10000000000000;
  position: fixed;
  
  margin-left: 15%;
  width: 70%;
}